# Ignore node_modules directory
node_modules

# Ignore Parcel Cache
.parcel-cache

# Ignore dist
dist

# Ignore PAT
anonymous.text

# Ignore .vscode
.vscode

# Ignore temporary files
data.js
practice.js

# Ignore .DS_Store 
.DS_Store

# Ignore Backend
backend/

Size-reducer