* {
    margin: 0;
    padding: 0;

  }
  
/* .app{
    width: 100vw;
}
    */

/* .res-card{
    /* margin: 10px;
    border: 2px solid red;
    padding: 2px;

} 
*/


.res-container{
    display: flex;
    flex-wrap: wrap;
    gap: 57px 84px;
    justify-content:  space-between;
}


.body{
    background-color: #ffb2b2;
    margin: 20px 0px;
    padding: 0px 45px;
} 



