* {
    margin: 0;
    padding: 0;
    /* background-color: #ec5a5a; */
  }
  
/* .app{
    width: 100vw;
}
    */

/* .res-card{
    /* margin: 10px;
    border: 2px solid red;
    padding: 2px;

} 
*/

a {
    text-decoration: none;
    color: inherit;
    font-weight: 600;
    transition: color 0.2s ease-in-out;
  }

.res-container{
    display: flex;
    flex-wrap: wrap;
    gap: 57px 84px;
    justify-content:  space-between;
}


.body{
    background-color: #ec5a5a;
    background-color: rgb(255, 255, 255);
    margin: 20px 0px;
    padding: 0px 45px;
} 



